<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_AccessRecords</h1>
        <table border="2px">
            <tr>
                <th>name</th>
                <th>author</th>
                <th>date</th>
            </tr>
        {% for i in accessrecords %}
           <tr>
            <td>{{i.name}}</td>
            <td>{{i.author}}</td>
            <td>{{i.date}}</td>
           </tr>
        {% endfor %}
    </table>
        
        </body>
    </center>
    
</body>
</html>